[Desktop Entry]
Name=Settings Shim
Exec=com.github.cassidyjames.settings-shim %U
Icon=application-default
Terminal=false
MimeType=x-scheme-handler/settings;

